
<h1>Login</h1>
<body style="margin-left:750px;"></body>
<form action="/login" method="POST">
  <br>
  
    <i class="fas fa-user"></i>
    <input type="text" id="userid" name="userid" placeholder="EnrollmentID" required>
  </div>
  <br>
  <br>
  <div>
    <i class="fas fa-lock"></i>
    <input type="password" id="password" name="password" placeholder="Password" required>
  </div>
  <br>
  <button type="submit">Login</button>
</form>
<link href="/style.css" rel="stylesheet" type="text/css">
<a href="/register">Register</a> 
